.banner {
  background-color: #F1F1F3;
}

.banner__container {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 280px;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    width: 738px;
    padding: 60px 0 73px 56px;
  }
}

.banner__img {
  display: block;
  margin-bottom: 18px;

  @media (min-width: 768px) {
    margin-bottom: 13px;
  }
}

.banner__description {
  display: block;
  font-size: 12px;
  line-height: 18px;
}