.nav {
  display: none;
  
  @media (min-width: 768px) {
    display: flex;
    gap: 35px;
    margin-left: 40px;
  }
}

.nav__container {
  position: relative;
}

.nav__title {
  display: block;
  color: inherit;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;

  &--arrow-mod {
    border: none;
    background-color: transparent;
    padding: 0;
    font-family: inherit;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }

  &--active {
    color: #2d1aa7;

    & svg {
      transform: rotate(180deg);
      transition: transform 0.3s;
    }
  }
}

.nav__list {
  display: none;
}

.nav__title--active + .nav__list {
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 18px 60px 0px #0000000D;
  width: max-content;
  padding: 14px 26px 17px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.nav__link {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: inherit;
}