.posts {
  padding-top: 30px;
  padding-bottom: 66px;
}

.posts__title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 18px;
  
  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 32px;
  }
}

.posts__list {
  width: 280px;
  margin: 0 auto 20px auto;
  
  @media (min-width: 768px) {
    width: 738px;
  }
}

.posts__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts__img {
  display: block;
  width: 280px;
  height: 280px;
  margin-bottom: 12px;

  @media (min-width: 768px) {
    width: 226px;
    height: 226px;
  }
}

.posts__date {
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 7px;
  font-weight: 400;
  color: #777777;
}

.posts__link {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: inherit;
}